/*******************************
FOOTER
********************************/
footer {
  padding-top: 20px;
  min-width: 100%;
}

footer nav {
  display: inline;
}

.copyright p, .mobile_copyright p {
  color: $french-gray;
}

.footer_nav, .mobile_footer_nav {
  background-color: $chathams-blue;
  padding: 20px 0 20px 0;
}

.right_footer_nav li {
  padding-left: 10px;
}

footer a, li {
  color: $french-gray;
}

.copyright {
  margin-left: 100px;
  margin-top: 310px;
}

.copyright img, .copyright p {
  display: inline-block;
  vertical-align: middle;
}

.copyright img {
  margin-right: 5px;
}

.right_footer_nav {
  float: right;
  margin-right: 100px;
  margin-top: -40px;
}

.right_footer_nav a:hover {
  color: $deep-cove;
}
